{% extends "includes/layout.html" %}
{% block body %}


<section class="insert-data">


  <div class="insert-form">
        <h3 class="h3 text-center p-4 ">Delete Customer</h3>
        <div class="container text-center">
            <form method='POST'>
                <div class="form-group row">
                  <label for="cust-id" class="col col-form-label text-left">Customer Id : <sup class="text-danger">*</sup></label>
                  <div class="col-sm-7">
                    <input type="number" class="form-control text-left" id="cust-id" name="cust-id" required>
                  </div>
                </div>
                <div class="form-group row">
                  <p style="color:red">PS: Deleting customer will also result in deleating all the accounts and transactions of customer. Account balance related data will be lost.</p>
                  </div>              
                <div class="buttons text-center p-2">                    
                <button type="submit" class="btn btn-danger">Delete Customer</button>      
                </div>
         </form>
        </div>
    </div>
    
  
</section>

<script type="text/javascript">
  function del(){
    alert("Customer Profile Deleted Successfully...");
  };

  function invalid(){
    alert("Invalid Customer Id");
  };
</script>

{% if message %}
  {% if message=="Successful" %}
      <script>del()</script>
      {% elif message=="invalid" %}
  <script>invalid()</script> 
  {% endif %}
{% endif %}

{% endblock %}